/*google fonts*/


/*roots*/

:root{
    --first-col:#ffff;
    --second-col:#E7FBFF;
    --third-col:#00ECFF;
    --fourth-col: #0083FA;
}

/*start*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}


#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

