/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*roots*/
:root {
    --first-col: #ffffff;
    --last-col: #000000;
    --second-col: #E7FBFF;
    --third-col: #00ECFF;
    --fourth-col: #0083FA;
    --fifth-col: #16c9d5;
    --sixth-col: #0362FF;
    --seventh-col: #99EEDD;
    --eighth-col: gray;
    --h1-fontsize: 45px;
    --h2-fontsize: 35px;
    --padding-btn: 10px 20px;
    --border: none;
    --border-50: 50px;
    --transition: all 0.2s ease-in-out;
    --box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

/*start*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body,
html {
    height: 100%;
    width: 100%;
}

#wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}


/*------landing page------*/

/* navbar */
#navbar {
    position: fixed;
    background-color: var(--second-col);
    width: 100%;
    height: 4.5rem;
    z-index: 999;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.container .logo {
    margin-left: 2%;
    font-size: 1.4rem;
    font-weight: 800;
    color: var(--fourth-col);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 3rem;
    margin-right: 4%;
}

.nav-links li a {
    text-decoration: none;
    color: var(--fourth-col);
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.5s;
}

.nav-links li a:hover {
    color: var(--first-col);
    background: var(--fourth-col);
    padding: 8px 18px;
    font-size: 1rem;
    border-radius: 3rem;
}

/* Page content styles */
.content {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200vh;
}

.content .helloText {
    transform: translateY(10rem)
}

.helloText h1 {
    font-size: 1.4rem;
    color: var(--fourth-col);
    font-weight: 600;
}

.helloText p {
    color: var(--third-col);
    font-weight: 600;
}

/* trending slider */
.trending h1 {
    transform: translateY(15rem);
    font-size: 1.4rem;
    color: var(--fourth-col);
    font-weight: 600;
}

.swiper {
    margin-top: 22%;
    height: 30rem;
    width: 100%;
    overflow: visible;
    cursor: grab;
}

.swiper-slide {
    background: transparent;
    display: flex;
    justify-content: space-around;
}

.swiper-slide .cards {
    display: inline-flex;
    width: 30%;
    height: 85%;
    background: var(--fourth-col);
    margin: 10px;
    border-radius: 2rem;
}

.swiper .swiper-btn {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--fourth-col);
    color: var(--first-col);

}


/* Internship slider */

.Internship_section h1 {
    transform: translateY(7rem);
    font-size: 1.4rem;
    color: var(--fourth-col);
    font-weight: 600;
}

.Internship_section .swiper-Int {
    margin-top: 12%;
}


/* Internship job offer slider */

.Internship-job-off h1 {
    transform: translateY(7rem);
    font-size: 1.4rem;
    color: var(--fourth-col);
    font-weight: 600;
}

.Internship-job-off .swiper-intJbOff {
    margin-top: 12%;
}

/* job slider */

.Job h1 {
    transform: translateY(7rem);
    font-size: 1.4rem;
    color: var(--fourth-col);
    font-weight: 600;
}

.Job .swiper-jobs {
    margin-top: 12%;
}


/* preferences slider */

.preferences h1 {
    transform: translateY(7rem);
    font-size: 1.4rem;
    color: var(--fourth-col);
    font-weight: 600;
}

.preferences .swiper-preferences {
    margin-top: 12%;
}

/* footer */

footer {
    width: 100%;
    height: 10rem;
    position: relative;
    background-color: var(--seventh-col);
    transform: translateY(150rem);
}

/* company landing page */
.dropdownCompany{
    position: relative;
    display: inline-block;
}
.dropdownCompany .dropdown-content {
    position: absolute;
    background-color: var(--first-col);
    width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transform: translate(-95%, 2%);
    border-radius: 20px 0px 20px 20px;
}

.dropdownCompany .dropdown-content a {
    color: var(--last-col);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 0.9rem;
}

.dropdownCompany .dropdown-content a:hover {
    background-color: var(--fifth-col);
    font-size: 0.9rem;
    border-radius: 20px 20px 20px 20px;
}

/*------ Internship page ------*/

.active{
    color: var(--first-col);
    background: var(--fourth-col);
    padding: 8px 18px;
    font-size: 1rem;
    border-radius: 3rem;
}
.internshipPage{
    height: 100%;
    width: 100%;
}

.internshipSection {
    height: 100%;
    width: 100%;
    min-height: 370vh;
}


.filterContainer{
    height: 30%;
    width: 30%;
    background-color: var(--second-col);
    transform: translate(20%, 28%);
    justify-content: center;
    display: flex;
}

.filterContainer .filter {
    color: var(--fourth-col);
    margin-top: 6%;
}

.filterContainer .filter h1 {
    display: inline-flex;
    font-size: 1.2rem;
    font-weight: 600;
}


/* custom checkbox */
.filterContainer .container {
    position: absolute;
    display: inline-flex;
    width: 100%;
    margin-top: 20%;
    margin-left: -35%;
    cursor: pointer;
    font-size: 1.1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--fourth-col);
    font-weight: 500;
}


.filterContainer .container input {
    transform: translate(5%, 5%);
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


.filterContainer .container .checkmark {
    transform: translate(-80%, 75%);
    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 23px;
    background-color: var(--third-col);
}


.filterContainer .container:hover input~.checkmark {
    background-color: var(--fifth-col);
}


.filterContainer .container input:checked~.checkmark {
    background-color: var(--fourth-col);
}


.filterContainer .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.filterContainer .container input:checked~.checkmark:after {
    display: block;
}


.filterContainer .container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.filterContainer .containerWfrmH {
    top: 32%;
}

.filterContainer .containerPartTime {
    top: 40%;
}

.filterContainer .containerjobOff {
    top: 73%;
}



/* custom inputbox */
.filterContainer .inputBox {
    position: absolute;
    top: 20%;
    left: 20%;
}

.filterContainer .inputBox p {
    font-size: 1.1rem;
    color: var(--fourth-col);
    font-weight: 500;
}

.filterContainer .inputBox input {
    width: 15rem;
    border: none;
    padding: 3% 3%;
    background-color: var(--third-col);
    border-radius: 5px;
}

.filterContainer .inputBox input::placeholder {
    color: var(--eighth-col);
}

.filterContainer .inputBoxlocation {
    top: 32%;
}

.filterContainer .inputBoxDate {
    top: 60%;
}

.filterContainer .inputBoxDuration {
    top: 72%;
}

.inputBoxDuration .dropdown {
    position: relative;
    display: inline-block;
}

.inputBoxDuration .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--first-col);
    width: 15rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 0.9rem;
}

.inputBoxDuration .dropdown-content a {
    color: var(--last-col);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.inputBoxDuration .dropdown-content a:hover {
    background-color: var(--seventh-col);
}



/* internship Listings */
.internshipSection .internshipContainer{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    width: 57%;
    background: none;
    transform: translate(70%);
    height: 110rem;
    top: 30%;
}
.internshipContainer h2{
    font-size: 1.2rem;
    color: var(--fourth-col);
    font-weight: 600;
    margin-left: 37%;
}
.pagecountInternship{
    font-size: 1.2rem;
    color: var(--fourth-col);
    font-weight: 600;
}
.internshipContainer .internshipOrder{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.internshipOrder .internshipCard{
    width: 100%;
    height: 26rem;
    background-color: var(--second-col);
}
.internshipCard h1{
    font-size: 1.5rem;
    margin-left: 7%;
    margin-top: 8%;
    padding-top: 7%;
    color: var(--fourth-col);
}
.internshipCard .locationP{
    margin-top: 5%;
    margin-left: 7%;
    color: var(--fourth-col);
    font-weight: 500;
    font-size: 1.2rem;
}
.internshipCard .mainDetails{
    margin-top: 5%;
    display: flex;
    margin-left: -1.5%;
    justify-content: space-around;
    color: var(--fourth-col);
    font-weight: 500;
}
.internshipCard .buttonNextstep{
    margin-top: 8%;
    display: flex;
    margin-left: 7%;
}
.buttonNextstep button{
    padding: 10px 8px;
    width: 8rem;
    font-size: 1rem;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
.buttonNextstep .details button{
    color: var(--fifth-col);
    background: none;
}
.buttonNextstep .details button:hover{
    transform: translateY(-4%);
}
.buttonNextstep .applyButton{
    color: var(--seventh-col);
    background-color: var(--fourth-col);
    border-radius: 10px;
    border: none;
    width: 8rem;
    cursor: pointer;
    margin-left: 5%;
}
.buttonNextstep .applyButton:hover{
    transform: translateY(-4%);
}
.internshipContainer h3{
    position: absolute;
    top: 98%;
    font-size: 1.2rem;
    color: var(--fourth-col);
    font-weight: 600;
}


/* apply page */
.goBack{
    margin-left: 5%;
}
.applyHeading h1{
    margin-left: 12%;
    margin-top: 0.5%;
    color: var(--fourth-col);
    font-size: 2rem;
}
.coverLetter{
    transform: translate(12%, 25%);
}
.coverLetter h2{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--fourth-col);
}
.coverLetter h3{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--fourth-col);
}
.coverLetter p{
    font-size: 1rem;
    font-weight: 600;
    color: var(--third-col);
}
.coverLetter input{
    height: 4rem;
    width: 60rem;
    margin-top: 1%;
    padding: 10px 10px;
    border: 5px solid rgb(224, 224, 224);
    border-radius: 20px;
    background-color: var(--seventh-col);
    color: var();
}
.radioButtons{
    transform: translate(12%, 55%);
}
.radioButtons h2{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--fourth-col);
}
.radioButtons h3{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--fourth-col);
}
.radioButtons .radionButtonOr{
    margin-top: 0.5%;
    font-weight: 600;
    font-size: 1rem;
    color: var(--third-col);
}
.radionButtonOr .availability{
    height: 3rem;
    width: 40rem;
    margin-top: 1%;
    padding: 10px 10px;
    border: 5px solid rgb(224, 224, 224);
    border-radius: 20px;
    background-color: var(--seventh-col);
    color: var();
}
.assesment{
    transform: translate(12%, 75%);
}
.assesment h2{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--fourth-col);
}
.assesment h3{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--fourth-col);
}
.assesment p{
    font-size: 1rem;
    font-weight: 600;
    color: var(--third-col);
    width: 60rem;
}
.assesment input{
    height: 4rem;
    width: 60rem;
    margin-top: 1%;
    padding: 10px 10px;
    border: 5px solid rgb(224, 224, 224);
    border-radius: 20px;
    background-color: var(--seventh-col);
    color: var();
}
.internshipApplybtn{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    left: 45%;
    top: 125%;
    padding: 10px 10px;
    width: 10rem;
    border-radius: 50px;
    border: none;
    color: var(--first-col);
    background-color: var(--fourth-col);
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.5s;
}
.internshipApplybtn:hover{
    transform: scale(1.1);
}
/*-------- job page --------*/
.jobPage{
    height: 100%;
    width: 100%;
    display: none;
}

/*required skills area*/
.reqskills {
    margin-bottom: 20px;
}
.reqskills-para {
    font-weight: bold;
    color: var(--fourth-col);
    margin-top: 10px;
}
.select-add-skill {
    width: 10% !important;
    padding: 15px !important;
    text-align: center !important;
    border-radius: var(--border-50) !important;
    font-weight: 700;
    margin-left: 0px !important;
    font-size: 13.33px !important;
    color: var(--last-col) !important;
    background-color: var(--seventh-col) !important;
}
.addsk {
    margin-left: 10px;
}
.checkbox-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1080px;
}
.label {
    background-color: var(--second-col);
    padding: 10px 20px;
    border-radius: var(--border-50);
    margin: 5px !important;
    flex: 1;
    max-width: calc(100% - 10px);
    white-space: nowrap;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
}
.languages {
    width: 100% !important;
}
.add-btn {
    background-color: var(--fourth-col);
    color: var(--first-col);
    padding: 15px;
    width: 8%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: var(--border-50);
    text-align: center;
    cursor: pointer;
}



/* application page */
.appliedInternship{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.appliedInternship .appliedHeading{
    justify-content: center;
    margin-top: 5%;
}
.appliedInternship .appliedHeading .goBack{
    position: absolute;
    left: 2%;
}
.appliedInternship .appliedHeading h1{
    font-size: 2rem;
    color: var(--fourth-col);
}

.appliedInternship .applliedInternshiplist{
    position: absolute;
    top: 28%;
    width: 70rem;
    border: 4px solid var(--second-col);
    border-radius: 20px;
}
.appliedInternship .applliedInternshiplist .appliedInternshipheading{
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    padding: 10px 10px;
    background-color: var(--second-col);
    border-radius: 17px 17px 0 0;
}
.appliedInternship .applliedInternshiplist .appliedInternshipheading h2{
    padding: 1rem;
    color: var(--fourth-col);
    font-weight: 600;
}
.appliedInternship .applliedInternshiplist .appliedInternshipheading .appliedProfile{
    width: 27rem;
    margin-left: 5%;
}
.appliedInternship .applliedInternshiplist .appliedInternshipheading .appliedLocation{
    width: 18rem;
    margin-left: 1%;
}
.appliedInternship .applliedInternshiplist .appliedInternshipheading .appliedDuration{
    width: 17rem;
}

.appliedInternship .applliedInternshiplist .appliedInternshipitems{
    display: flex;
    justify-content: space-around;
    font-size: 0.9rem;
    padding: 10px 10px;
    background-color: var(--first-col);
    border-radius: 17px 17px 0 0;
    border: 2px solid var(--second-col);
}
.appliedInternship .applliedInternshiplist .appliedInternshipitems h2{
    padding: 1rem;
    color: var(--fourth-col);
    font-weight: 500;
}
.appliedInternship .applliedInternshiplist .appliedInternshipitems .appliedProfile{
    width: 13rem;
}
.appliedInternship .applliedInternshiplist .appliedInternshipitems .appliedLocation{
    margin-left: -3%;
}
.appliedInternship .applliedInternshiplist .appliedInternshipitems .appliedDuration{
    margin-left: -3%;
}
.appliedInternship .applliedInternshiplist .appliedInternshipitems .appliedStatus{
    color: var(--first-col);
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    background-color: var(--fourth-col);
    border: none;
    border-radius: 50px;
    height: 3rem;
}
/*------------Login Page------------*/
.login-page {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    justify-content: space-between;
    position: absolute;
    display: inline-flex;
    text-align: left;
    align-items: center;
}

/*Left side writtings*/
.left-side {
    margin-left: 250px;
}

h1 {
    font-size: var(--h1-fontsize);
    font-weight: 800;
}

span {
    color: var(--fourth-col);
}

/*right side box*/
.right-side {
    margin: 100px;
    padding: 30px;
    background-color: var(--second-col);
    border-radius: 50px;
}

/*Rolelogin*/
.select-box {
    background-color: var(--first-col);
    padding: 15px 50px;
    margin: 15px 0px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selectrole {
    margin-left: 40px ;
}
.subdiv {
    float: right;
}

/*button*/
.right-card {
    margin-bottom: 20px;
    padding: 10px;
    background-color: var(--first-col);
    border-radius: var(--border-50);
}

.btn {
    margin: 3px;
    padding: var(--padding-btn);
    border-radius: 50px;
    border: var(--border);
    font-weight: 600;
    font-size: 20px;
    background-color: var(--fourth-col);
    color: var(--first-col);
    cursor: pointer;
    transition: var(--transition);
}

.btn:hover {
    box-shadow: var(--box-shadow);
}

.btn.selected {
    background-color: var(--fifth-col);
}

/*right middle part login*/
.entry {
    width: 100%;
}

.withsubmit {
    width: 100%;
    background-color: var(--first-col);
    padding: 20px 20px 70px 20px;
    border-radius: 30px;
}

/*heading of writting box*/
.inphead {
    color: var(--sixth-col);
    font-weight: 600;
}

/*writting box*/
.pleasebox {
    width: 100%;
    background-color: var(--seventh-col);
    border: var(--border);
    padding: 15px 15px;
    border-radius: var(--border-50);
    color: var(--sixth-col);
    margin-bottom: 15px;
    transition: var(--transition);
}

.pleasebox:focus {
    outline: none;
    border: 3px solid var(--second-col);
    box-shadow: var(--box-shadow);
}

/*For the password part*/
.password-container {
    position: relative;
}
.pwrd {
    width: 90%;
    background-color: var(--seventh-col);
    border: var(--border);
    padding: 15px 15px;
    border-radius: var(--border-50);
    color: var(--sixth-col);
    margin-bottom: 15px;
    transition: var(--transition);
}
.pwrd:focus {
    outline: none;
    border: 3px solid var(--second-col);
    box-shadow: var(--box-shadow);
}
.eye-icon {
    background-color: var(--seventh-col);
    padding: 12px 15px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    border-radius: var(--border-50);
    cursor: pointer;
}

.logincont {
    display: flex;
}
.pwrdl {
    width: 100%;
    background-color: var(--seventh-col);
    border: var(--border);
    padding: 15px 15px;
    border-radius: var(--border-50);
    color: var(--sixth-col);
    margin-bottom: 15px;
    transition: var(--transition);
}
.pwrdl:focus {
    outline: none;
    border: 3px solid var(--second-col);
    box-shadow: var(--box-shadow);
}
.eye-iconl {
    width: 100%;
    position: absolute;
    font-size: 20px;
    left: 92%;
    top: 11px;
    border-radius: var(--border-50);
    cursor: pointer;
}

.entry .withsubmit{
    float: right;
}

/*Bottom part of login page*/
.gotoreg,
.gotolog {
    margin-top: 20px;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    border-radius: var(--border-50);
    background-color: var(--first-col);
    justify-content: space-between;
}

/*--------------Register---------------*/
.register-page {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -80px;
}

.title {
    font-size: var(--h2-fontsize);
    color: var(--sixth-col);
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
}

.withReg {
    width: 40rem;
    background-color: var(--first-col);
    padding: 10px 20px;
    border-radius: 30px;
}

/*Rolebox*/
.role-box {
    background-color: var(--first-col);
    padding: 20px 100px;
    margin: 20px 0px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selecttext {
    font-weight: 600;
    font-size: 20px;
}

/* dropdown */

/* Style the buttonsrole div */
.buttonsrole {
    margin: 10px 0;
}

.roles {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 600;
    border: var(--border);
    border-radius: var(--border-50);
    background-color: var(--fourth-col);
    color: var(--first-col);
    appearance: none;
    --webkit-appearance: none;
    text-align: center;
    outline: none;
    cursor: pointer;
}

.drpdwn {
    font-size: 16px;
    font-weight: normal;
    color: var(--first-col);
}

.roles option:checked {
    background-color: var(--fourth-col);
    color: var(--first-col);
}

.roles option:hover {
    font-weight: 700;
    background-color: #f2f2f2;
    color: #333;
}


/*register button*/
.regdiv {
    width: 95%;
    margin-top: 10px;
}

.register {
    margin: 0 0 0 41%;
}

/*goto the login page redirect*/
.gotolog {
    margin: 20px 0 0 0;
}

/*------------add internship------------*/

.tinterna {
    margin-top: 20px;
    margin-bottom: 20px;
}
/* Style for the main container */
.Internship {
    width: 80%;
    margin: 0 auto;
    padding: 30px 50px;
    background-color: var(--second-col);
    border-radius: var(--border-50);
    box-shadow: var(--box-shadow);
}

/* Style for the internship topic section */
.topic {
    margin-bottom: 20px;
}

.Internship-topic {
    font-size: 20px;
    font-weight: bold;
    color: var(--fourth-col);
    margin-left: 10px;
}

.txt-box {
    width: 100%;
    background-color: var(--seventh-col);
    border: var(--border);
    padding: 15px 15px;
    border-radius: var(--border-50);
    color: var(--sixth-col);
    margin-bottom: 15px;
    transition: var(--transition);
}
.txt-box:focus {
    outline: none;
    border: 3px solid var(--second-col);
    box-shadow: var(--box-shadow);
}

/* Style for the category section */
.category {
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    color: var(--fourth-col);
    margin-bottom: 10px;
}

/* Style for radio buttons and input fields in category section */
.WFH, .NWFH {
    margin-right: 10px;
}

.NWFH-loc {
    display: none;
    width: 60%;
    padding: 10px;
    border: var(--border);
    border-radius: var(--border-50);
    background-color: var(--seventh-col);
    color: var(--fourth-col);
    transition: var(--transition);
}
.NWFH-loc:focus {
    outline: none;
    border: 3px solid var(--second-col);
    box-shadow: var(--box-shadow);
}

/* Style for the duration selection */
.duraptionpart {
    margin-bottom: 20px;
    display: flex;
    font-weight: 700;
    align-items: center;
    color: var(--fourth-col);
}

#duration {
    width: 10%;
    margin-left: 15px;
    align-items: center;
    font-weight: 700;
    text-align: center;
    padding: 15px;
    appearance: none;
    -webkit-appearance: none;
    border: var(--border);
    background-color: var(--seventh-col);
    border-radius: var(--border-50);
    transition: var(--transition);
}
#duration:focus {
    outline: none;
    border: 3px solid var(--second-col);
    box-shadow: var(--box-shadow);
}

/* Style for the stipend section */
.Stripendpart {
    margin-bottom: 20px;
}

.stripend {
    font-weight: bold;
    color: var(--fourth-col);
}

/* Style for the last date section */
.lastdate {
    margin-bottom: 20px;
}

.applyby {
    font-weight: bold;
    color: var(--fourth-col);
}

.date {
    background-color: var(--seventh-col);
    border: var(--border);
    padding: 15px 15px;
    border-radius: var(--border-50);
    color: var(--last-col);
    margin-bottom: 15px;
    transition: var(--transition);
}

/* Style for the about the internship section */
.internabout {
    color: var(--fourth-col);
    margin-bottom: 20px;
}

.aboutintern {
    font-weight: bold;
}

/* Style for the certificate section */
.iscertificate {
    margin-bottom: 20px;
    font-weight: 600;
}
#certificate {
    scale: 1.5;
    margin-right: 10px;
}

/* Style for the number of openings section */
.Total-vacancy {
    color: var(--fourth-col);
    margin-bottom: 20px;
}

.opening {
    font-weight: bold;
}

/* Style for the submit button */
.subaddintern {
    text-align: center;
}

.submit:hover {
    background-color: #0056b3;
}

.information {
    margin-bottom: 20px;
}
.additionalinfo {
    font-weight: bold;
    color: var(--fourth-col);
}







/* -------------profiles----------- */


/* ----student profiles & teacher profile---- */

.stu-container, .tech-container{
    width:1280px;
    margin:0 auto;
    background-color: var(--first-col);
    margin-top: 150px;
}

.stu-header, .tech-header{
    width: 1138px;
    margin: 0 auto;
    background-color: var(--first-col);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-item1{
    font-size: 30px;
    color: var(--third-col);
}

.header-item2{
    font-size: 40px;
    color: var(--sixth-col);
}

.stu-hero-section, .tech-hero-section{
    width: 1138px;
    margin: 0 auto;
    background-color: var(--second-col);
    border-radius: 30px;
    margin-top: 75px;
}

.stu-para-style1, .tech-para-style1{
    font-size: 23px;
    color: var(--fourth-col);

}

.stu-para-style2, .tech-para-style2{
    font-size: 21px;
    color: var(--fourth-col);
}

.stu-para, .tech-para{
    font-size: 18px;
    color: var(--third-col);
}

.stu-entry-boxes1, .tech-entry-boxes1{
    display: flex;
    justify-content: space-evenly;
}

.stu-entry-boxes2, .tech-entry-boxes2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stu-entry-boxes3, .tech-entry-boxes3, 
.stu-gender, .tech-gender{
    margin-top: 30px;
    margin-left: 83px;
}

.stu-entry-boxes4, .tech-entry-boxes4{
    display: flex;
    justify-content: space-evenly;
}

.stu-box-design1, .tech-box-design1{
    height: 55px;
    width: 479px;
    background-color: var(--seventh-col);
    border-radius: 20px;
    color: var(--fourth-col);
    font-size: 21px;
    padding-left: 20px;
    border: var(--border);
    /* outline: none; */
}

.stu-email-box, .tech-email-box{
    height: 55px;
    width: 974px;
    background-color: var(--seventh-col);
    border-radius: 20px;   
    color: var(--fourth-col); 
    font-size: 21px;
    padding-left: 20px;
    padding-top: 10px;
    border: var(--border);
}

/* country code dropdown  */
#country-code{
    height: 55px;
    width: 89px;
    background-color: var(--seventh-col);
    border-radius: 20px; 
    border: var(--border);
    color: var(--fourth-col);
    font-size: 21px;
    text-align: center;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}

.mob-box{
    height: 55px;
    width: 859px;
    background-color: var(--seventh-col);
    border-radius: 20px; 
    color: var(--fourth-col);
    font-size: 21px;
    padding-left: 20px;
    margin-left: 21px;
    border: var(--border);
}

.stu-box-design2, .tech-box-design2{
    height: 55px;
    width: 974px;
    background-color: var(--seventh-col);
    border-radius: 20px;   
    color: var(--fourth-col); 
    font-size: 21px;
    padding-left: 20px;
    border: var(--border);
}

.stu-box-design3, .tech-box-design3{
    height: 55px;
    width: 459px;
    background-color: var(--seventh-col);
    border-radius: 20px;
    color: var(--fourth-col);
    font-size: 21px;
    padding-left: 20px;
    border: var(--border);
}

.stu-first-name, .tech-first-name{
    margin-left: 65px;
    margin-top: 50px;
}

.stu-last-name, .tech-last-name{
    margin-right: 65px;
    margin-top: 50px;
}

.stu-email, .tech-email,
.stu-address1, .tech-address1,
.stu-address2, .tech-address2,
.stu-pin, .tech-pin,
.stu-state, .tech-state,
.stu-city, .tech-city,
.stu-country, .tech-country,
.stu-language, .tech-language{
    margin-top: 30px;
}

.stu-address, .tech-address{
    margin-top: 50px;
    margin-left: 83px;

}

.pin-state{
    margin-left: 27.7px;
}

.city-country{
    margin-right: 27.7px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}


/* gender button*/

.gender-selection {
    display: flex;
    margin-top: 11px;
}

.radio{
    display: none;
}

.gen-label{
    color: var(--fourth-col);
    background-color: var(--seventh-col);
    cursor: pointer;
    padding: 0.8rem 2rem;
    border-radius: 20px;
    font-size: 21px;
}

#male:checked ~ .label-1, 
#female:checked ~ .label-2,
#others:checked ~ .label-3{
    background-color: var(--fourth-col);
    color: var(--first-col);
}

.female, .others{
    margin-left: 1.5rem;
}


/* select languages */

.stu-language, .tech-language{
    margin-left: 83px;
    padding-bottom: 70px;
}

.add-language{
    padding-top: 1rem;
}

#select-items-button{
    color: var(--first-col);
    background-color: var(--fourth-col);
    padding: 0.8rem 2rem;
    border-radius: 20px;
    cursor: pointer;
    width: 15.8rem;
    font-size: 21px;
}

.label{
    font-size: 18px;
    margin-left: 30px;
    padding-top: 0.5rem;
    /* width: 6rem; */
}

.label input{
    margin-right: 8px;
}

.ok-btn{
    background-color: var(--fourth-col);
    color: var(--first-col);
    padding: 0.4rem 0.8rem;
    border-radius: 20px;
    width: 3rem;
    margin-left: 51px;
    margin-top: 17px;
    cursor: pointer;
}

#languages {
    display: none;
    color: var(--fourth-col);
    background-color: var(--seventh-col);
    width: 10rem;
    border-radius: 20px;
    padding: 0.4rem;
}

#selected-items {
    display: none;
}

#selected-items-list {
    display: flex;
    flex-wrap: wrap !important;
    max-width: 974px !important;
}

#selected-items-list div{
    color: var(--fourth-col);
    background-color: var(--seventh-col);
    border-radius: 20px;
    margin: 10px;
    font-size: 19px;
    cursor: pointer;
}

.selected-item {
    padding: 1rem 2rem;
}

/* end next button */
.next-btn{
    font-size: 23px;
    font-weight: 500;
    /* border-radius: 20px; */
    padding: 1rem 2.5rem;
    margin-top: 45px;
    margin-left: 1070px;
    margin-bottom: 100px;
}




/* company profile */


.com-container{
    width:1280px;
    margin:0 auto;
    background-color: var(--first-col);
    margin-top: 150px;
}

.com-header{
    width: 1138px;
    margin: 0 auto;
    background-color: var(--first-col);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.com-hero-section{
    width: 1138px;
    margin: 0 auto;
    background-color: var(--second-col);
    border-radius: 30px;
    margin-top: 75px;
}

.com-para-style1{
    font-size: 23px;
    color: var(--fourth-col);

}

.com-para-style2{
    font-size: 21px;
    color: var(--fourth-col);
}

.com-para{
    font-size: 18px;
    color: var(--third-col);
}

.com-entry-boxes1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.com-entry-boxes2, .com-link{
    margin-top: 30px;
    margin-left: 83px;
}

.com-entry-boxes3{
    display: flex;
    justify-content: space-evenly;
}

.com-box-design1{
    height: 55px;
    width: 974px;
    background-color: var(--seventh-col);
    border-radius: 20px;   
    color: var(--fourth-col); 
    font-size: 21px;
    padding-left: 20px;
    border: var(--border);
}

.com-email-box{
    height: 55px;
    width: 974px;
    background-color: var(--seventh-col);
    border-radius: 20px;   
    color: var(--fourth-col); 
    font-size: 21px;
    padding-left: 20px;
    padding-top: 10px;
    border: var(--border);
}

.com-arr-date{
    display: flex;
    justify-content: space-between;
    height: 55px;
    width: 380px;
    background-color: var(--seventh-col);
    border-radius: 20px;
    color: var(--fourth-col);
    font-size: 21px;
    padding-left: 20px;
    padding-top: 10px;
    border: var(--border);
}

.fa-calendar{
    color: var(--last-col);
    padding-right: 20px;
    padding-top: 7px;
}

.com-box-design2{
    height: 55px;
    width: 459px;
    background-color: var(--seventh-col);
    border-radius: 20px;
    color: var(--fourth-col);
    font-size: 21px;
    padding-left: 20px;
    border: var(--border);
}

.com-name{
    margin-top: 50px;
}

.com-email, .com-address1, 
.com-address2, .com-pin,
.com-state, .com-city,
.com-country, .com-about{
    margin-top: 30px;
}

.com-address{
    margin-top: 50px;
    margin-left: 83px;

}

.pin-state{
    margin-left: 27.7px;
}

.city-country{
    margin-right: 27.7px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.com-about{
    margin-left: 83px;
    padding-bottom: 70px;
}





/* student and techer and company view personal details  */


.view-details{
    padding-top: 13.5px;
}

.mob-code{
    display: flex;
}





/* student resume */


.resume-container{
    width:1280px;
    margin:0 auto;
    background-color: var(--first-col);
    margin-top: 150px;
}

.resume-header{
    width: 1138px;
    margin: 0 auto;
    background-color: var(--first-col);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resume-header-item{
    font-size: 60px;
    color: var(--sixth-col);
    font-weight: 600;
}

.resume-hero-section{
    width: 1052px;
    margin: 0 auto;
    background-color: var(--second-col);
    border-radius: 30px;
    margin-top: 75px;
}


