/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*roots*/
:root {
    --first-col: #ffffff;
    --last-col: #000000;
    --second-col: #E7FBFF;
    --third-col: #00ECFF;
    --fourth-col: #0083FA;
    --fifth-col: #16c9d5;
    --sixth-col: #0362FF;
    --seventh-col: #99EEDD;
    --eighth-col: gray;
    --h1-fontsize: 45px;
    --h2-fontsize: 35px;
    --padding-btn: 10px 20px;
    --border: none;
    --border-50: 50px;
    --transition: all 0.2s ease-in-out;
    --box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

/*start*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body,
html {
    height: 100%;
    width: 100%;
}

#wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}


/*------landing page------*/

/* navbar */
#navbar {
    position: fixed;
    background-color: var(--second-col);
    width: 100%;
    height: 4.5rem;
    z-index: 999;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.container .logo {
    margin-left: 2%;
    font-size: 1.4rem;
    font-weight: 800;
    color: var(--fourth-col);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 3rem;
    margin-right: 4%;
}

.nav-links li a {
    text-decoration: none;
    color: var(--fourth-col);
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.5s;
}

.nav-links li a:hover {
    color: var(--first-col);
    background: var(--fourth-col);
    padding: 8px 18px;
    font-size: 1rem;
    border-radius: 3rem;
}

/* Page content styles */
.content {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200vh;
}

.content .helloText {
    transform: translateY(10rem)
}

.helloText h1 {
    font-size: 1.4rem;
    color: var(--fourth-col);
    font-weight: 600;
}

.helloText p {
    color: var(--third-col);
    font-weight: 600;
}

/* trending slider */
.trending h1 {
    transform: translateY(15rem);
    font-size: 1.4rem;
    color: var(--fourth-col);
    font-weight: 600;
}

.swiper {
    margin-top: 22%;
    height: 30rem;
    width: 100%;
    overflow: visible;
    cursor: grab;
}

.swiper-slide {
    background: transparent;
    display: flex;
    justify-content: space-around;
}

.swiper-slide .cards {
    display: inline-flex;
    width: 30%;
    height: 85%;
    background: var(--fourth-col);
    margin: 10px;
    border-radius: 2rem;
}

.swiper .swiper-btn {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--fourth-col);
    color: var(--first-col);

}


/* Internship slider */

.Internship h1 {
    transform: translateY(7rem);
    font-size: 1.4rem;
    color: var(--fourth-col);
    font-weight: 600;
}

.Internship .swiper-Int {
    margin-top: 12%;
}


/* Internship job offer slider */

.Internship-job-off h1 {
    transform: translateY(7rem);
    font-size: 1.4rem;
    color: var(--fourth-col);
    font-weight: 600;
}

.Internship-job-off .swiper-intJbOff {
    margin-top: 12%;
}

/* job slider */

.Job h1 {
    transform: translateY(7rem);
    font-size: 1.4rem;
    color: var(--fourth-col);
    font-weight: 600;
}

.Job .swiper-jobs {
    margin-top: 12%;
}


/* preferences slider */

.preferences h1 {
    transform: translateY(7rem);
    font-size: 1.4rem;
    color: var(--fourth-col);
    font-weight: 600;
}

.preferences .swiper-preferences {
    margin-top: 12%;
}

/* footer */

footer {
    width: 100%;
    height: 10rem;
    position: relative;
    background-color: var(--seventh-col);
    transform: translateY(150rem);
}


/*------ Internship page ------*/

.active{
    color: var(--first-col);
    background: var(--fourth-col);
    padding: 8px 18px;
    font-size: 1rem;
    border-radius: 3rem;
}
.internshipPage{
    height: 100%;
    width: 100%;
}

.internshipSection {
    height: 100%;
    width: 100%;
    min-height: 370vh;
}


.filterContainer{
    height: 30%;
    width: 30%;
    background-color: var(--second-col);
    transform: translate(20%, 28%);
    justify-content: center;
    display: flex;
}

.filterContainer .filter {
    color: var(--fourth-col);
    margin-top: 6%;
}

.filterContainer .filter h1 {
    display: inline-flex;
    font-size: 1.2rem;
    font-weight: 600;
}


/* custom checkbox */
.filterContainer .container {
    position: absolute;
    display: inline-flex;
    width: 100%;
    margin-top: 20%;
    margin-left: -35%;
    cursor: pointer;
    font-size: 1.1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--fourth-col);
    font-weight: 500;
}


.filterContainer .container input {
    transform: translate(5%, 5%);
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


.filterContainer .container .checkmark {
    transform: translate(-80%, 75%);
    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 23px;
    background-color: var(--third-col);
}


.filterContainer .container:hover input~.checkmark {
    background-color: var(--fifth-col);
}


.filterContainer .container input:checked~.checkmark {
    background-color: var(--fourth-col);
}


.filterContainer .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.filterContainer .container input:checked~.checkmark:after {
    display: block;
}


.filterContainer .container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.filterContainer .containerWfrmH {
    top: 32%;
}

.filterContainer .containerPartTime {
    top: 40%;
}

.filterContainer .containerjobOff {
    top: 73%;
}



/* custom inputbox */
.filterContainer .inputBox {
    position: absolute;
    top: 20%;
    left: 20%;
}

.filterContainer .inputBox p {
    font-size: 1.1rem;
    color: var(--fourth-col);
    font-weight: 500;
}

.filterContainer .inputBox input {
    width: 15rem;
    border: none;
    padding: 3% 3%;
    background-color: var(--third-col);
    border-radius: 5px;
}

.filterContainer .inputBox input::placeholder {
    color: var(--eighth-col);
}

.filterContainer .inputBoxlocation {
    top: 32%;
}

.filterContainer .inputBoxDate {
    top: 60%;
}

.filterContainer .inputBoxDuration {
    top: 72%;
}

.inputBoxDuration .dropdown {
    position: relative;
    display: inline-block;
}

.inputBoxDuration .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--first-col);
    width: 15rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 0.9rem;
}

.inputBoxDuration .dropdown-content a {
    color: var(--last-col);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.inputBoxDuration .dropdown-content a:hover {
    background-color: var(--seventh-col);
}



/* internship Listings */
.internshipSection .internshipContainer{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 57%;
    height: 118rem;
    background: none;
    transform: translate(70%, -27.8%);
}
.internshipContainer h2{
    font-size: 1.2rem;
    color: var(--fourth-col);
    font-weight: 600;
}
.internshipContainer .internshipOrder{
    width: 100%;
    height: 110rem;
    top: 3%;
    position: absolute;
    background-color: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.internshipOrder .internshipCard{
    width: 100%;
    height: 26rem;
    background-color: var(--second-col);
}
.internshipContainer h3{
    position: absolute;
    top: 98%;
    font-size: 1.2rem;
    color: var(--fourth-col);
    font-weight: 600;
}

/*-------- job page --------*/
.jobPage{
    height: 100%;
    width: 100%;
    display: none;
}


/*------------Login Page------------*/
.login-page {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    justify-content: space-between;
    position: absolute;
    display: inline-flex;
    text-align: left;
    align-items: center;
}

/*Left side writtings*/
.left-side {
    margin-left: 250px;
}

h1 {
    font-size: var(--h1-fontsize);
    font-weight: 800;
}

span {
    color: var(--fourth-col);
}

/*right side box*/
.right-side {
    margin: 100px;
    padding: 30px;
    background-color: var(--second-col);
    border-radius: 50px;
}

/*Rolelogin*/
.select-box {
    background-color: var(--first-col);
    padding: 15px 50px;
    margin: 15px 0px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selectrole {
    margin-left: 40px ;
}
.subdiv {
    float: right;
}

/*button*/
.right-card {
    margin-bottom: 20px;
    padding: 10px;
    background-color: var(--first-col);
    border-radius: 50px;
}

.btn {
    margin: 3px;
    padding: var(--padding-btn);
    border-radius: 50px;
    border: var(--border);
    font-weight: 600;
    font-size: 20px;
    background-color: var(--fourth-col);
    color: var(--first-col);
    cursor: pointer;
    transition: var(--transition);
}

.btn:hover {
    box-shadow: var(--box-shadow);
}

.btn.selected {
    background-color: var(--fifth-col);
}

/*right middle part login*/
.entry {
    width: 100%;
}

.withsubmit {
    width: 100%;
    background-color: var(--first-col);
    padding: 20px 20px 70px 20px;
    border-radius: 30px;
}

/*heading of writting box*/
.inphead {
    color: var(--sixth-col);
    font-weight: 600;
}

/*writting box*/
.pleasebox {
    width: 100%;
    background-color: var(--seventh-col);
    border: var(--border);
    padding: 15px 15px;
    border-radius: var(--border-50);
    color: var(--sixth-col);
    margin-bottom: 15px;
    transition: var(--transition);
}

.pleasebox:focus {
    outline: none;
    border: 3px solid var(--second-col);
    box-shadow: var(--box-shadow);
}

.entry .withsubmit{
    float: right;
}

/*Bottom part of login page*/
.gotoreg,
.gotolog {
    margin-top: 20px;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    border-radius: var(--border-50);
    background-color: var(--first-col);
    justify-content: space-between;
}

/*--------------Register---------------*/
.register-page {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -80px;
}

.title {
    font-size: var(--h2-fontsize);
    color: var(--sixth-col);
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
}

.withReg {
    width: 40rem;
    background-color: var(--first-col);
    padding: 10px 20px;
    border-radius: 30px;
}

/*Rolebox*/
.role-box {
    background-color: var(--first-col);
    padding: 20px 100px;
    margin: 20px 0px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selecttext {
    font-weight: 600;
    font-size: 20px;
}

/* dropdown */

/* Style the buttonsrole div */
.buttonsrole {
    margin: 10px 0;
}

.roles {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 600;
    border: var(--border);
    border-radius: var(--border-50);
    background-color: var(--fourth-col);
    color: var(--first-col);
    appearance: none;
    --webkit-appearance: none;
    text-align: center;
    outline: none;
    cursor: pointer;
}

.drpdwn {
    font-size: 16px;
    font-weight: normal;
    color: var(--first-col);
}

.roles option:checked {
    background-color: var(--fourth-col);
    color: var(--first-col);
}

.roles option:hover {
    font-weight: 700;
    background-color: #f2f2f2;
    color: #333;
}


/*register button*/
.regdiv {
    width: 95%;
    margin-top: 10px;
}

.register {
    margin: 0 0 0 41%;
}

/*goto the login page redirect*/
.gotolog {
    margin: 20px 0 0 0;
}




/* -------------profiles----------- */

/* ----student profiles---- */

.stu-container{
    width:1280px;
    margin:0 auto;
    background-color: var(--first-col);
    margin-top: 150px;
}

.stu-header{
    width: 1138px;
    margin: 0 auto;
    background-color: var(--first-col);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-item1{
    font-size: 30px;
    color: var(--third-col);
}

.header-item2{
    font-size: 40px;
    color: var(--sixth-col);
}

.stu-hero-section{
    width: 1138px;
    margin: 0 auto;
    background-color: var(--second-col);
    border-radius: 30px;
    margin-top: 75px;
}

.stu-para-style1{
    font-size: 23px;
    color: var(--fourth-col);

}

.stu-box-design1{
    height: 55px;
    width: 479px;
    background-color: var(--seventh-col);
    border-radius: 20px;
    color: var(--fourth-col);
    font-size: 21px;
    padding-left: 20px;
    border: var(--border);
    /* outline: none; */
}

.stu-box-design2{
    height: 55px;
    width: 974px;
    background-color: var(--seventh-col);
    border-radius: 20px;   
    color: var(--fourth-col); 
    font-size: 21px;
    padding-left: 20px;
    border: var(--border);
}

/* country code dropdown  */
#country-code{
    height: 55px;
    width: 89px;
    background-color: var(--seventh-col);
    border-radius: 20px; 
    border: var(--border);
    color: var(--fourth-col);
    font-size: 21px;
    text-align: center;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}

.mob-box{
    height: 55px;
    width: 859px;
    background-color: var(--seventh-col);
    border-radius: 20px; 
    color: var(--fourth-col);
    font-size: 21px;
    padding-left: 20px;
    margin-left: 21px;
    border: var(--border);
}

.stu-para-style2{
    font-size: 21px;
    color: var(--fourth-col);
}

.stu-para{
    font-size: 18px;
    color: var(--third-col);
}

.stu-box-design3{
    height: 55px;
    width: 459px;
    background-color: var(--seventh-col);
    border-radius: 20px;
    color: var(--fourth-col);
    font-size: 21px;
    padding-left: 20px;
    border: var(--border);
}

.stu-entry-boxes1{
    display: flex;
    justify-content: space-evenly;
}

.stu-entry-boxes2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stu-entry-boxes3, .stu-gender{
    margin-top: 30px;
    margin-left: 83px;
}

.stu-entry-boxes4{
    display: flex;
    justify-content: space-evenly;
}

.stu-first-name{
    margin-left: 65px;
    margin-top: 50px;
}

.stu-last-name{
    margin-right: 65px;
    margin-top: 50px;
}

.stu-email, .stu-address1, 
.stu-address2, .stu-pin,
.stu-state, .stu-city,
.stu-country, .stu-language{
    margin-top: 30px;
}

.stu-address{
    margin-top: 50px;
    margin-left: 83px;

}

.pin-state{
    margin-left: 27.7px;
}

.city-country{
    margin-right: 27.7px;
}

/*-- gender button --*/
.gender-selection {
    display: flex;
}

.gender-button {
    color: var(--fourth-col);
    background-color: var(--seventh-col);
    cursor: pointer;
    padding: 0.8rem 2rem;
    border-radius: 20px;
    font-size: 21px;
    transition: background-color 0.3s, color 0.3s;
    user-select: none;
}

.gender-button:hover {
    background-color: var(--fourth-col);
    color: #fff;
}

.gender-button.selected {
    background-color: var(--fourth-col);
    color: #fff;
}

#female, #others{
    margin-left: 1.5rem;
}




/* select languages */

.stu-language{
    margin-left: 83px;
    padding-bottom: 70px;
}

.add-language{
    padding-top: 1rem;
}

#select-items-button{
    color: var(--first-col);
    background-color: var(--fourth-col);
    padding: 0.8rem 2rem;
    border-radius: 20px;
    cursor: pointer;
    width: 15.8rem;
    font-size: 21px;
}

.label{
    font-size: 18px;
    margin-left: 30px;
    padding-top: 0.5rem;
    /* width: 6rem; */
}

/* .label:hover {
    background-color: var(--fourth-col);
    color: #fff;
    border-radius: 25px;
} */

.label input{
    margin-right: 8px;
}

.ok-btn{
    background-color: var(--fourth-col);
    color: var(--first-col);
    padding: 0.4rem 0.8rem;
    border-radius: 20px;
    width: 3rem;
    margin-left: 51px;
    margin-top: 17px;
    cursor: pointer;
}

#languages {
    display: none;
    color: var(--fourth-col);
    background-color: var(--seventh-col);
    width: 10rem;
    border-radius: 20px;
    padding: 0.4rem;
}

#selected-items {
    display: none;
}

#selected-items-list {
    display: flex;
}

#selected-items-list div{
    color: var(--fourth-col);
    background-color: var(--seventh-col);
    border-radius: 20px;
    margin: 10px;
    font-size: 19px;
    cursor: pointer;
}


.selected-item {
    padding: 1rem 2rem;
}



/* end next button */
.next-btn{
    font-size: 23px;
    font-weight: 500;
    /* border-radius: 20px; */
    padding: 1rem 2.5rem;
    margin-top: 45px;
    margin-left: 1070px;
    margin-bottom: 100px;
}


